@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sizing of map container */
.leaflet-container{
  height: 100vh;
}

.cluster-icon{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
}

.leaflet-interactive{
  border-radius: 50%;
}